@CHARSET "UTF-8";


body {
	font-size: 20pt;
	background-color: #009ad6;
}

#d1 {
	background-color: #009ad6;
	left: 30;
	top: 30;
	position: absolute;
}

#d1_head {
	height: 30;
	background-color: blue;
	color: white;
	font-size: 20pt;
}

#d1_body {
	background-color: #009ad6;
}

.list li {
	list-style-type: 1;
}
.list ol{
	display: none;
}

.icon {
	margin: 10px;
	border: solid 2px gray;
	width: 160px;
	height: 190px;
	text-align: center;
	float: left;
}